🎫 Billetkode: {{ticket.code}}

Skriv billetkode og dit navn på et stykke papir og læg det i skøjterne, inden du indleverer dem til slibning.

Slibning starter efter betaling.

Betal her: {{payment_url}}
